.ajax-loader {
  visibility: hidden;
  background-color: rgba(255,255,255,0.7);
  position: relative;
  z-index: +100 !important;
  top: -65em;
  left: -15em;
}

.ajax-loader img {
  position: absolute;
  top:50%;
  left:50%;
}